<!DOCTYPE HTML>
<html lang="zxx">
	
<!-- service210:28  -->
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Xarkasin - Car Dealer Template</title>
		
		
	</head>
	<body>
		<!-- Page loader -->
	    <!-- <div id="preloader">
			<div class="display-table">
				<div class="display-tablecell">
					<img src="assets/img/loader.gif" alt="">
				</div>
			</div>
		</div> -->
		<!-- header section start -->
		<div class="head-top-area">
			<header class="header-top border-bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 d-none d-sm-block">
								<div class="header-top-content text-lg-left text-center">
									<ul>
										<li><i class="icofont icofont-clock-time"></i>Mon - Fri : 09:00 am to 06:00 pm</li>
										<li><a href="tel:+8801524212235"><i class="icofont icofont-telephone"></i>(+880) 567-290-4567</a></li>
										<li><a href="mailto:aklima@gmail.com"><i class="icofont icofont-envelope"></i>Example@domain.com</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="header-top-content login-reg text-lg-right text-center"> 
									<ul>
										<li><a href="#"><i class="icofont icofont-user"></i> Login</a></li>
										<li><a href="#"><i class="icofont icofont-pencil-alt-2"></i> Register</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</header>
			<div class="header-bottom">
				<div class="container">
					<div class="row flexbox-center">
						<div class="col-lg-2 col-md-3 col-6">
							<div class="logo text-lg-left text-center">
								<a href="index-2.html"><img src="assets/img/logo.png" alt="logo"></a>
							</div>
						</div>
						<div class="col-lg-10 col-md-9 col-6">
							<div class="responsive-menu"></div>
							<div class="mainmenu">
								<ul id="primary-menu">
									<li><a routerLink="/" routerLinkActive="active">Home</a>
										
									</li>
									<li><a routerLink="/about" routerLinkActive="active">About </a>
										
									</li>
									<li class="active"><a >Service </a>
										
									</li>
									<li><a class="nav link" routerLink="/carlisting" routerLinkActive="active">carlistng</a></li>

									<li><a routerLink="/testimonials" routerLinkActive="active">Testimonials </a>
										
									</li>
									<li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
									<li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>Our Service</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li class="active"><a href="service2.html">Service </a></li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<section class="feature-area ptb-100">
			<div class="container">
                <div class="row">
                    <div class="col-lg-12">
						<div class="sec-title mb-50">
							<h2>Featured <span>Vehicles</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<ul class="nav nav-tabs">
							<li><a class="active show" data-target="#menu4" data-toggle="tab" href="#">New Cars</a></li>
							<li><a data-toggle="tab" data-target="#menu5" href="#menu5">Used Cars</a></li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div id="menu4" class="tab-pane fade active show">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature1.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature2.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature3.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature4.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature5.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature6.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="menu5" class="tab-pane fade">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature2.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fug, sed quia Nemo enim ipsam voluptatem quia voluptas.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature4.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fug, sed quia Nemo enim ipsam voluptatem quia voluptas.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature6.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fug, sed quia Nemo enim ipsam voluptatem quia voluptas.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 mt-50 text-center">
						<a href="#" class="theme-btn theme-btn2">Read More</a>
					</div>
				</div>
			</div>
		</section><!-- feature section end -->
		<section class="funfact-area2 pt-70 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>VEHICLES STOCK</h4>
							<h1><i class="icofont icofont-car"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>DEALERS SERVED</h4>
							<h1><i class="icofont icofont-ui-calendar"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>HAPPY CUSTOMERS</h4>
							<h1><i class="icofont icofont-businessman"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>AWARDS</h4>
							<h1><i class="icofont icofont-trophy"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- funfact section end -->
		<!-- choose section start -->
		<section class="choose-area ptb-100">
			<div class="container">
                <div class="row">
                    <div class="col-lg-12">
						<div class="sec-title mb-20">
							<h2>CHOOSE <span>YOUR CAR</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-3">
						<div class="choose-menu">
							<button data-filter="*" class="active">All</button>
							<button data-filter=".choose1">Acura</button>
							<button data-filter=".choose2">Alfa Romeo</button>
							<button data-filter=".choose3">Aston Martin</button>
							<button data-filter=".choose4">Audi</button>
							<button data-filter=".choose5">BMW</button>
						</div>
					</div>
					<div class="col-lg-9">
						<div class="row choose-item">
							<div class="col-lg-4 col-sm-6 choose1 choose4">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature4.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose2 choose3">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature5.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose5 choose6">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature6.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose1 choose6">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature3.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose5 choose3">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature2.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose1 choose2">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature1.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- choose section end -->
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
                <router-outlet></router-outlet>

				<div class="row">
                    <div class="col-lg-6">
						<div class="footer-top">
							<div class="row flexbox-center">
								<div class="col-xl-8 col-lg-7">
									<div class="footer-top-left">
										<h4>DO YOU WANT TO SELL A CAR?</h4>
										<hr />
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspe rodit aut fugit, sed quia consequuntur.</p>
									</div>
								</div>
								<div class="col-xl-4 col-lg-5">
									<div class="footer-top-right">
										<a href="#" class="theme-btn theme-btn2">READ MORE</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
						<div class="footer-top flexbox-center">
							<div class="row flexbox-center">
								<div class="col-xl-8 col-lg-7">
									<div class="footer-top-left">
										<h4>DO YOU WANT TO SELL A CAR?</h4>
										<hr />
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspe rodit aut fugit, sed quia consequuntur.</p>
									</div>
								</div>
								<div class="col-xl-4 col-lg-5">
									<div class="footer-top-right">
										<a href="#" class="theme-btn theme-btn2">READ MORE</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
				<div class="row mt-30">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget">
							<a href="index-2.html"><img src="assets/img/footer-logo.png" alt="footer-logo"></a>
							<p>Lorem ipsum dolor sit amet, consctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna as aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							<div class="widget-social-icons">
								<a href="#"><i class="icofont icofont-social-facebook"></i></a>
								<a href="#"><i class="icofont icofont-social-twitter"></i></a>
								<a href="#"><i class="icofont icofont-social-skype"></i></a>
								<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
								<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
							</div>
						</div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="widget">
							<h4 class="widget-title">Our Services</h4>
							<ul>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> BMW Series</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Toyota</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Alfa Romeo</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Mercedes</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Ferrari</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Aston Martin</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widget">
							<h4 class="widget-title">Latest News</h4>
							<div class="widget-gallery">
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget1.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget2.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget3.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget4.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget5.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget6.jpg" alt="widget" /></a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget-get-in-touch">
							<h4 class="widget-title">Get in Touch</h4>
							<ul>
								<li><i class="icofont icofont-location-pin"></i><p><span>Our Address : </span>Blue Rock Street, CA 945, USA</p></li>
								<li><i class="icofont icofont-phone"></i><p><span>Phone Number : </span>(+880) 567-290-4567</p></li>
								<li><i class="icofont icofont-clock-time"></i><p><span>Opening Hours : </span> Mon- Sat : 06 Am -08 Pm</p></li>
								<li><i class="icofont icofont-envelope"></i><p><span>Email: </span>Support@gmail.com</p></li>
							</ul>
						</div>
                    </div>
				</div>
			</div>
			
		</footer><!-- footer section end -->
		<a href="#" class="scrollToTop">
			<i class="icofont icofont-arrow-up"></i>
		</a>
		<!-- jquery main JS -->
		
	</body>

<!-- service210:28  -->
</html>
