<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <!-- Botstrap CSS CDN============================================================== -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>

<body style="background-color: rgb(216, 218, 216);">

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action=" " method="post" style="margin-top: 150px; background-color:white; padding:30px;border-radius:10px">
                <h2 class="text-center mb-4"> Log in </h2>
                <label for="username" style="font-size: 0.9rem;font-weight:550">Username</label>
                <input name="username" type="text" class="form-control " id="userName" required>
                <div class="row" style="font-size: 0.9rem;font-weight:550">
                    <div class="col-lg-6">
                        <label for="password">Password</label>
                    </div>
                    <div class="col-lg-6" style="text-align: right;">
                        <label for="forget"><a href="#" style="text-decoration: none;">
                                Forgot password?
                            </a> </label>
                    </div>
                </div>
                <input name="pass" type="text" class="form-control " id="pass" required>
                <button type="button" class="btn mt-4 btn-primary btn-lg btn-block">Sign In</button>
            
                    <small style="font-size: 0.9rem;font-weight:450">Dont have an account?<a routerLink="/register" routerLinkActive="active" style="text-decoration: none;">Register</a> here</small>
                
                </form>
        </div>
        <div class="col-lg-4"></div>
    </div>

   
</body>

</html>