
		<!-- header section start -->
		<div class="top-area">
			<div class="head-top-area">
				<header class="header-top border-bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 d-none d-sm-block">
								<div class="header-top-content text-lg-left text-center">
									<ul>
										<li><i class="icofont icofont-clock-time"></i>Mon - Fri : 09:00 am to 06:00 pm</li>
										<li><a href="tel:+8801524212235"><i class="icofont icofont-telephone"></i>(+880) 567-290-4567</a></li>
										<li><a href="mailto:aklima@gmail.com"><i class="icofont icofont-envelope"></i>Example@domain.com</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="header-top-content login-reg text-lg-right text-center"> 
									<ul>
										<li><a routerLink="/" routerLinkActive="active"><i class="icofont icofont-user"></i> LogOut</a></li>
										
									</ul>
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="header-bottom">
					<div class="container">
						<div class="row flexbox-center">
							<div class="col-lg-2 col-md-3 col-6">
								<div class="logo text-lg-left text-center">
									<a href="index-2.html"><img src="assets/img/logo.png" alt="logo"></a>
								</div>
							</div>
							<div class="col-lg-10 col-md-9 col-6">
								<div class="responsive-menu"></div>
								<div class="mainmenu">
									<ul id="primary-menu">
										
											
										
										<li><a routerLink="/blog" routerLinkActive="active">Gérer mes réservations  

										</a></li>
										
										<li><a routerLink="/contact" routerLinkActive="active"> Gérer mon compte <i class="icofont icofont-simple-down"></i>
											<ul>
												<li><a href="team.html">Informations Personnelles</a></li>
												<li><a href="testimonial.html">Historique</a></li>
												<li><a href="blog-details.html">Autre</a></li>
												
											</ul>

										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- header section end -->


			

		
		
        
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget">
							<a href="index-2.html"><img src="assets/img/footer-logo.png" alt="footer-logo"></a>
							<p>Lorem ipsum dolor sit amet, consctetur adipiscing elit,
								 sed do eiusmod tempor incididunt ut labore et dolore magna as aliqua. 
								Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							<div class="widget-social-icons">
								<a href="#"><i class="icofont icofont-social-facebook"></i></a>
								<a href="#"><i class="icofont icofont-social-twitter"></i></a>
								<a href="#"><i class="icofont icofont-social-skype"></i></a>
								<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
								<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
							</div>
						</div>
                    </div>
                   
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget-get-in-touch">
							<h4 class="widget-title">Get in Touch  </h4>
							
							<ul>
								<li><i class="icofont icofont-location-pin"></i><p><span>Our Address : </span>Blue Rock Street, CA 945, USA</p></li>
								<li><i class="icofont icofont-phone"></i><p><span>Phone Number : </span>(+880) 567-290-4567</p></li>
								<li><i class="icofont icofont-clock-time"></i><p><span>Opening Hours : </span> Mon- Sat : 06 Am -08 Pm</p></li>
								<li><i class="icofont icofont-envelope"></i><p><span>Email: </span>Support@gmail.com</p></li>
							</ul>
							
						</div>
                    </div>
				</div>
			</div>
			
		</footer>
		<!-- footer section end -->

		
		
	




