<section class=" bg-primary  py-md-3 py-2  d-none d-sm-block"> 
    <div class="container">
      <ol class="breadcrumb p-0 bg-transparent">
        <li class="breadcrumb-item"><a href="/home-client" class="text-white">Accueil</a></li>
        <li class="breadcrumb-item active text-white"> Assurances</li>
      </ol>
    </div>
  </section>
  <div class="main-content py-md-5 py-3">      
    <div class="container" id="contact">
      <div class="card shadow mb-3">
        <div class="card-body">
          
          <h1>Assurances</h1>
          <div><h2>
  <span style="font-size:20px;">Assurance:</span></h2>
<h2>
  <span style="font-size:20px;">Qui est assur&eacute; ?</span></h2>
<h2>
  <span style="font-size:20px;">Pour quelle dur&eacute;e ?<br />
  Quelles sont les assurances contractuellement acquises ?<br />
  Quelles sont les assurances en option ?<br />
  </span></h2>
<h2>
  <span style="font-size:20px;">Qui est assur&eacute; ?</span></h2>
<p>
  Sont assur&eacute;s le(s) conducteur(s) nomm&eacute;ment d&eacute;sign&eacute;(s) sur le contrat de location ainsi que les passagers, et ce pour toute la dur&eacute;e de la location (jusqu&#39;&agrave; la restitution des clefs et des papiers au Loueur pendant les heures d&#39;ouverture de l&#39;agence).</p>
<h2>
  <span style="font-size:20px;">Pour quelle dur&eacute;e ?</span></h2>
<p>
  La fin du contrat de location est mat&eacute;rialis&eacute;e par la remise du v&eacute;hicule avec ses clefs originales &agrave; un employ&eacute; du Loueur, dans l&#39;agence, &agrave; la date et l&#39;heure pr&eacute;vues au contrat de location. A d&eacute;faut de remise au pr&eacute;pos&eacute; du Loueur, la fin du contrat interviendra &agrave; l&#39;heure d&#39;ouverture du 1er jour ouvrable d&#39;ouverture de l&#39;agence suivant le d&eacute;p&ocirc;t des clefs.</p>
<h2>
  <span style="font-size:20px;">Quelles sont les assurances contractuellement acquises ?</span></h2>
<p>
  Le(s) conducteur(s) d&eacute;sign&eacute;(s) au contrat b&eacute;n&eacute;ficie(nt) de la police d&#39;assurance automobile souscrite par le Loueur couvrant la Responsabilit&eacute; Civile pour les dommages caus&eacute;s aux tiers, le vol ou la tentative de vol, l&#39;incendie et les dommages au v&eacute;hicule lou&eacute; (sous r&eacute;serve d&#39;une franchise), en fonction de la cat&eacute;gorie du v&eacute;hicule et sous r&eacute;serve des dispositions particuli&egrave;res des conditions g&eacute;n&eacute;rales de location.</p>
<p>
  Attention : Cette police d&#39;assurance est valable seumement dans le&nbsp;territoire Tunisien. Par ailleurs, pour m&eacute;moire, vous vous engagez &agrave; demander un accord pr&eacute;alable &eacute;crit au Loueur pour toute utilisation du v&eacute;hicule en dehors du territoire Tunisien.&nbsp;</p>
<h2>
  <span style="font-size:20px;">Quelles sont les assurances en option ?</span></h2>
<p>
  En option, et si mention expresse figure aux conditions particuli&egrave;res du contrat de location :</p>
<ul>
  <li>
      le rachat total de franchise.</li>
  <li>
      la franchise peut &ecirc;tre r&eacute;duite moyennant un forfait journalier.</li>
</ul>
<h3>
  <span style="font-size:16px;">Franchise: d&eacute;finition</span></h3>
<p>
  Toutes nos offres comprennent les assurances obligatoires&nbsp;(assurance responsabilit&eacute; civile, vol de v&eacute;hicules et dommage collision).<br />
  Une franchise pourrait toutefois &ecirc;tre exig&eacute;e. Une franchise implique que&nbsp;le locataire de la voiture est responsable de la premi&egrave;re partie des frais,&nbsp;la &quot;franchise&quot;, (jusqu&#39;&agrave; un certain montant, g&eacute;n&eacute;ralement d&eacute;bit&eacute; &agrave; titre&nbsp;d&#39;acompte &agrave; l&#39;arriv&eacute;e) dans le cas o&ugrave; la voiture serait vol&eacute;e ou endommag&eacute;e.<br />
  L&#39;agence de location de voiture couvre les frais restants.</p>
<h3>
  <span style="font-size:16px;">Assurance 100 % tous risques &quot; Pack Clic Protection &quot; sans franchise avec Clicar :</span></h3>
<p>
  Nous vous proposons une assurance tous risques, qui impliquera que vous&nbsp;n&#39;aurez pas &agrave; payer de franchise en cas de vol ou d&#39;accident.<br />
  Nous vous recommandons fortement de louer en souscrivant &agrave; notre option&nbsp;Z&eacute;ro Franchise !</p>
<p>
  Afin d&#39;opter pour l&#39;offre tous risques, il suffit de l&#39;indiquer par email ou en observation dans le formulaire de r&eacute;servation.&nbsp;</p>
<p>
  (Assurance de base + rachat de franchise = pack protection)<br />
  <br />
  Une exon&eacute;ration totale de franchise d&egrave;s 25 &euro; / jour ( Voiture de cat&eacute;gorie &eacute;conomique ) &nbsp;: rouler la t&ecirc;te repos&eacute;e.</p>
<p>
  Clicar Tunisie&nbsp;int&egrave;gre &agrave; ses tarifs des assurances contre les &eacute;v&eacute;nements impr&eacute;visibles de la location de voitures en tunisie ( vol, accidents&hellip;).</p>
<p>
  <br />
  Pour une protection optimale et une location sans soucis, notre&nbsp;<strong>Pack Clic Protection</strong>&nbsp;vous exon&egrave;re totalement de franchise et vous assure &agrave; 100% en cas de vol ou d&rsquo;accident et inclut la couverture impact / bris de glace et dommages pneumatiques.</p>
<p>
  Vous pouvez vous pr&eacute;munir d&rsquo;une franchise pouvant atteindre 500 &euro; en cas d&#39;accident ou vol d&rsquo;une petite voiture et ce &agrave; partir de 25 &euro; par jour.</p>
<p>
  En cas de vol ou d&#39;accident, un constat doit &ecirc;tre &eacute;tabli sous 24 heures ( sans constat le Pack Clic Protectionest annul&eacute; )<br />
  <strong>Le Pack Clic Protection+</strong> doit etre mentionn&eacute; sur le contrat de location.</p>
</div>
        
          
        </div>
      </div>