<!DOCTYPE HTML>
<html lang="zxx">
	
<!-- blog10:53  -->
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Xarkasin - Car Dealer Template</title>
		
	</head>
	<body>
		<!-- Page loader -->
	    <!-- <div id="preloader">
			<div class="display-table">
				<div class="display-tablecell">
					<img src="assets/img/loader.gif" alt="">
				</div>
			</div>
		</div> -->
		<!-- header section start -->
		<div class="head-top-area">
			<header class="header-top border-bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 d-none d-sm-block">
								<div class="header-top-content text-lg-left text-center">
									<ul>
										<li><i class="icofont icofont-clock-time"></i>Mon - Fri : 09:00 am to 06:00 pm</li>
										<li><a href="tel:+8801524212235"><i class="icofont icofont-telephone"></i>(+880) 567-290-4567</a></li>
										<li><a href="mailto:aklima@gmail.com"><i class="icofont icofont-envelope"></i>Example@domain.com</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="header-top-content login-reg text-lg-right text-center"> 
									<ul>
										<li><a href="#"><i class="icofont icofont-user"></i> Login</a></li>
										<li><a href="#"><i class="icofont icofont-pencil-alt-2"></i> Register</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</header>
			<div class="header-bottom">
				<div class="container">
					<div class="row flexbox-center">
						<div class="col-lg-2 col-md-3 col-6">
							<div class="logo text-lg-left text-center">
								<a href="index-2.html"><img src="assets/img/logo.png" alt="logo"></a>
							</div>
						</div>
						<div class="col-lg-10 col-md-9 col-6">
							<div class="responsive-menu"></div>
							<div class="mainmenu">
								<ul id="primary-menu">
									<li><a href="index-2.html">Home </a>
										
									</li>
									<li><a href="#">About </a>
										
									</li>
									<li><a href="#">Service</a>
										
									</li>
									<li><a class="nav link" href="carlistng.html">carlistng</a></li>
									<li><a href="#">Team </a>
										
									</li>
									<li class="active"><a href="blog.html">Blog</a></li>
									<li><a href="contact.html">Contact</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div><!-- header section end -->
		</div>
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<h2>Our Blog</h2>
						<ul>
							<li><a href="index-2.html">Home</a></li>
							<li class="active"><a href="blog.html">Blog</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- blog section start -->
		<section class="pt-70 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-12">
						<div class="single-post">
							<div class="row flexbox-center">
								<div class="col-sm-5">
									<div class="post-thumbnail">
										<a href="blog-details.html"><img src="assets/img/blog/blog1.jpg" alt="blog"></a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="post-details">
										<a href="blog-details.html"><h4 class="post-title">Duis aute irure dolor</h4></a>
										<div class="post-author">
											<a href="blog-details.html"><i class="icofont icofont-user"></i>Fletcher</a>
											<a href="blog-details.html"><i class="icofont icofont-speech-comments"></i>8 comment</a>
											<a href="blog-details.html"><i class="icofont icofont-calendar"></i>1/05/2018</a>
										</div>
										<p>Lorem ipsum dolor amet, consctetur adi piscing elit, eiumod tempor incidid.</p>
										<a href="blog-details.html" class="theme-btn theme-btn2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12">
						<div class="single-post">
							<div class="row flexbox-center">
								<div class="col-sm-5">
									<div class="post-thumbnail">
										<a href="blog-details.html"><img src="assets/img/blog/blog2.jpg" alt="blog"></a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="post-details">
										<a href="blog-details.html"><h4 class="post-title">Duis aute irure dolor</h4></a>
										<div class="post-author">
											<a href="blog-details.html"><i class="icofont icofont-user"></i>Fletcher</a>
											<a href="blog-details.html"><i class="icofont icofont-speech-comments"></i>8 comment</a>
											<a href="blog-details.html"><i class="icofont icofont-calendar"></i>1/05/2018</a>
										</div>
										<p>Lorem ipsum dolor amet, consctetur adi piscing elit, eiumod tempor incidid.</p>
										<a href="blog-details.html" class="theme-btn theme-btn2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12">
						<div class="single-post">
							<div class="row flexbox-center">
								<div class="col-sm-5">
									<div class="post-thumbnail">
										<a href="blog-details.html"><img src="assets/img/blog/blog3.jpg" alt="blog"></a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="post-details">
										<a href="blog-details.html"><h4 class="post-title">Duis aute irure dolor</h4></a>
										<div class="post-author">
											<a href="blog-details.html"><i class="icofont icofont-user"></i>Fletcher</a>
											<a href="blog-details.html"><i class="icofont icofont-speech-comments"></i>8 comment</a>
											<a href="blog-details.html"><i class="icofont icofont-calendar"></i>1/05/2018</a>
										</div>
										<p>Lorem ipsum dolor amet, consctetur adi piscing elit, eiumod tempor incidid.</p>
										<a href="blog-details.html" class="theme-btn theme-btn2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12">
						<div class="single-post">
							<div class="row flexbox-center">
								<div class="col-sm-5">
									<div class="post-thumbnail">
										<a href="blog-details.html"><img src="assets/img/blog/blog4.jpg" alt="blog"></a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="post-details">
										<a href="blog-details.html"><h4 class="post-title">Duis aute irure dolor</h4></a>
										<div class="post-author">
											<a href="blog-details.html"><i class="icofont icofont-user"></i>Fletcher</a>
											<a href="blog-details.html"><i class="icofont icofont-speech-comments"></i>8 comment</a>
											<a href="blog-details.html"><i class="icofont icofont-calendar"></i>1/05/2018</a>
										</div>
										<p>Lorem ipsum dolor amet, consctetur adi piscing elit, eiumod tempor incidid.</p>
										<a href="blog-details.html" class="theme-btn theme-btn2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12">
						<div class="single-post">
							<div class="row flexbox-center">
								<div class="col-sm-5">
									<div class="post-thumbnail">
										<a href="blog-details.html"><img src="assets/img/blog/blog1.jpg" alt="blog"></a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="post-details">
										<a href="blog-details.html"><h4 class="post-title">Duis aute irure dolor</h4></a>
										<div class="post-author">
											<a href="blog-details.html"><i class="icofont icofont-user"></i>Fletcher</a>
											<a href="blog-details.html"><i class="icofont icofont-speech-comments"></i>8 comment</a>
											<a href="blog-details.html"><i class="icofont icofont-calendar"></i>1/05/2018</a>
										</div>
										<p>Lorem ipsum dolor amet, consctetur adi piscing elit, eiumod tempor incidid.</p>
										<a href="blog-details.html" class="theme-btn theme-btn2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-12">
						<div class="single-post">
							<div class="row flexbox-center">
								<div class="col-sm-5">
									<div class="post-thumbnail">
										<a href="blog-details.html"><img src="assets/img/blog/blog3.jpg" alt="blog"></a>
									</div>
								</div>
								<div class="col-sm-7">
									<div class="post-details">
										<a href="blog-details.html"><h4 class="post-title">Duis aute irure dolor</h4></a>
										<div class="post-author">
											<a href="blog-details.html"><i class="icofont icofont-user"></i>Fletcher</a>
											<a href="blog-details.html"><i class="icofont icofont-speech-comments"></i>8 comment</a>
											<a href="blog-details.html"><i class="icofont icofont-calendar"></i>1/05/2018</a>
										</div>
										<p>Lorem ipsum dolor amet, consctetur adi piscing elit, eiumod tempor incidid.</p>
										<a href="blog-details.html" class="theme-btn theme-btn2">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="pagination">
							<ul>
                                <li><a href="#">&lt;</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">></a></li>
                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- blog section end -->
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-6">
						<div class="footer-top">
							<div class="row flexbox-center">
								<div class="col-xl-8 col-lg-7">
									<div class="footer-top-left">
										<h4>DO YOU WANT TO SELL A CAR?</h4>
										<hr />
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspe rodit aut fugit, sed quia consequuntur.</p>
									</div>
								</div>
								<div class="col-xl-4 col-lg-5">
									<div class="footer-top-right">
										<a href="#" class="theme-btn theme-btn2">READ MORE</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
						<div class="footer-top flexbox-center">
							<div class="row flexbox-center">
								<div class="col-xl-8 col-lg-7">
									<div class="footer-top-left">
										<h4>DO YOU WANT TO SELL A CAR?</h4>
										<hr />
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspe rodit aut fugit, sed quia consequuntur.</p>
									</div>
								</div>
								<div class="col-xl-4 col-lg-5">
									<div class="footer-top-right">
										<a href="#" class="theme-btn theme-btn2">READ MORE</a>
									</div>
								</div>
							</div>
                        </div>
                    </div>
                </div>
				<div class="row mt-30">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget">
							<a href="index-2.html"><img src="assets/img/footer-logo.png" alt="footer-logo"></a>
							<p>Lorem ipsum dolor sit amet, consctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna as aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							<div class="widget-social-icons">
								<a href="#"><i class="icofont icofont-social-facebook"></i></a>
								<a href="#"><i class="icofont icofont-social-twitter"></i></a>
								<a href="#"><i class="icofont icofont-social-skype"></i></a>
								<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
								<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
							</div>
						</div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="widget">
							<h4 class="widget-title">Our Services</h4>
							<ul>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> BMW Series</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Toyota</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Alfa Romeo</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Mercedes</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Ferrari</a></li>
								<li><a href="#"><i class="icofont icofont-curved-double-right"></i> Aston Martin</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="widget">
							<h4 class="widget-title">Latest News</h4>
							<div class="widget-gallery">
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget1.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget2.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget3.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget4.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget5.jpg" alt="widget" /></a>
								</div>
								<div class="single-widget-gallery">
									<a href="#"><img src="assets/img/widget/widget6.jpg" alt="widget" /></a>
								</div>
							</div>
						</div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget-get-in-touch">
							<h4 class="widget-title">Get in Touch</h4>
							<ul>
								<li><i class="icofont icofont-location-pin"></i><p><span>Our Address : </span>Blue Rock Street, CA 945, USA</p></li>
								<li><i class="icofont icofont-phone"></i><p><span>Phone Number : </span>(+880) 567-290-4567</p></li>
								<li><i class="icofont icofont-clock-time"></i><p><span>Opening Hours : </span> Mon- Sat : 06 Am -08 Pm</p></li>
								<li><i class="icofont icofont-envelope"></i><p><span>Email: </span>Support@gmail.com</p></li>
							</ul>
						</div>
                    </div>
				</div>
			</div>
			
		</footer><!-- footer section end -->
		<a href="#" class="scrollToTop">
			<i class="icofont icofont-arrow-up"></i>
		</a>
		
	</body>

<!-- blog11:00  -->
</html>