
	<body class="home2">
		<!-- Page loader -->
	    <!-- <div id="preloader">
			<div class="display-table">
				<div class="display-tablecell">
					<img src="assets/img/loader.gif" alt="">
				</div>
			</div>
		</div> -->
		<!-- header section start -->
		<div class="top-area">
			<div class="head-top-area">
				<header class="header-top border-bottom">
					<div class="container">
						<div class="row">
							<div class="col-lg-8 d-none d-sm-block">
								<div class="header-top-content text-lg-left text-center">
									<ul>
										<li><i class="icofont icofont-clock-time"></i>Mon - Fri : 09:00 am to 06:00 pm</li>
										<li><a href="tel:+8801524212235"><i class="icofont icofont-telephone"></i>(+880) 567-290-4567</a></li>
										<li><a href="mailto:aklima@gmail.com"><i class="icofont icofont-envelope"></i>Example@domain.com</a></li>
									</ul>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="header-top-content login-reg text-lg-right text-center"> 
									<ul>
										<li><a routerLink="/login" routerLinkActive="active"><i class="icofont icofont-user"></i> Login</a></li>
										<li><a  routerLink="/register" routerLinkActive="active"><i class="icofont icofont-pencil-alt-2"></i> Register</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</header>
				<div class="header-bottom">
					<div class="container">
						<div class="row flexbox-center">
							<div class="col-lg-2 col-md-3 col-6">
								<div class="logo text-lg-left text-center">
									<a href="index-2.html"><img src="assets/img/logo.png" alt="logo"></a>
								</div>
							</div>
							<div class="col-lg-10 col-md-9 col-6">
								<div class="responsive-menu"></div>
								<div class="mainmenu">
									<ul id="primary-menu">
										<li class="active"><a routerLink="/home" routerLinkActive="active" >Home
											 </a>
											
										</li>
										
										<li><a routerLink="/about" routerLinkActive="active" >About
											 </a>
											
										</li>
										<li><a routerLink="/service" routerLinkActive="active" >Service
											 </a>
											
										</li>
										
										<li><a routerLink="/carlisting" routerLinkActive="active">carlistng
											
										</a></li>
										<li><a routerLink="/testimonials" routerLinkActive="active">Testimonials 

										</a>
											
											
										</li>
										<li><a routerLink="/blog" routerLinkActive="active">Blog

										</a></li>
										<li><a routerLink="/contact" routerLinkActive="active">Contact

										</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div><!-- header section end -->


			<!-- hero area start -->
			<section class="hero-area" id="slideslow-bg">
				<div class="container">
					<div class="row flexbox-center">
						<div class="col-lg-5 col-md-9">
							<div class="hero-area-content hero-search">
								<ul class="nav nav-tabs">
									<li><a class="active show" data-target="#menu2" data-toggle="tab" href="#">New Cars</a></li>
									<li><a data-toggle="tab" data-target="#menu1" href="#menu1">Used Cars</a></li>
								
								</ul>
								<div class="tab-content">
									<div id="menu2" class="tab-pane fade active show">
										<form action="#">
											<select>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
											</select>
											<select>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
											</select>
											<div class="row">
												<div class="col-sm-6">
													<select>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
													</select>
												</div>
												<div class="col-sm-6">
													<select>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
													</select>
												</div>
											</div>
											<select>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
											</select>
											<a href="#" class="theme-btn theme-btn3">search the vehicle</a>
										</form>
									</div>
									<div id="menu1" class="tab-pane fade">
										<form action="#">
											<select>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
											</select>
											<select>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
											</select>
											<div class="row">
												<div class="col-sm-6">
													<select>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
													</select>
												</div>
												<div class="col-sm-6">
													<select>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
													</select>
												</div>
											</div>
											<select>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
											</select>
											<a href="#" class="theme-btn theme-btn3">search the vehicle</a>
										</form>
									</div>
									<div id="menu3" class="tab-pane fade">
										<form action="#">
											<select>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
												<option value="Any Brand">Any Brand</option>
											</select>
											<select>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
												<option value="Any Model">Any Model</option>
											</select>
											<div class="row">
												<div class="col-sm-6">
													<select>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
														<option value="Min Year">Min Year</option>
													</select>
												</div>
												<div class="col-sm-6">
													<select>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
														<option value="Max Year">Max Year</option>
													</select>
												</div>
											</div>
											<select>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
												<option value="Any Color">Any Color</option>
											</select>
											<a href="#" class="theme-btn theme-btn3">search the vehicle</a>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-area-content text-lg-left">
								<h3>[ Find Your Dream Car ]</h3>
								<p>High Performance & Outstanding Technology Combined</p>
								<a href="#" class="theme-btn theme-btn3">READ MORE</a>
							</div>
						</div>
					</div>
				</div>
			</section><!-- hero area end -->
		</div><!-- top-area -->
		


		<!-- about section start -->
		<section class="about-bottom2 ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="sec-title mb-50">
							<h2>ABOUT US</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.sed do eiusmod tempor</p>
						</div>
					</div>
				</div>
				<div class="row flexbox-center">
					<div class="col-lg-6">
						<div class="about-bottom-box">
							<ul>
								<li>
									<div class="about-icon">
										<i class="icofont icofont-lock"></i>
									</div>
									<div class="about-info">
										<h4>WE ARE A TRUSTED NAME</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui </p>
									</div>
								</li>
								<li>
									<div class="about-icon">
										<i class="icofont icofont-money-bag"></i>
									</div>
									<div class="about-info">
										<h4>WE ARE AT WORLDWIDE LOCATIONS</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui </p>
									</div>
								</li>
								<li>
									<div class="about-icon">
										<i class="icofont icofont-box"></i>
									</div>
									<div class="about-info">
										<h4>WE DEAL IN HAVE ALL BRANDS</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui </p>
									</div>
								</li>
								<li>
									<div class="about-icon">
										<i class="icofont icofont-police-car-alt-1"></i>
									</div>
									<div class="about-info">
										<h4>WE HAVE A LARGER STOCK OF VEHICLES</h4>
										<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui </p>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-bottom-box">
							<div class="about-video">
								<img src="assets/img/about-video.png" alt="about" />
								<a href="https://www.youtube.com/watch?v=bNNSgadhCOc" class="popup-youtube"><i class="icofont icofont-ui-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="about-area ptb-100">
			<div class="container">
                <div class="row">
                    <div class="col-lg-12">
						<div class="sec-title mb-50">
							<h2>Our Advantages</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="single-about">
                            <i class="icofont icofont-car-alt-1"></i>
                            <h4>Largest Dealership of Cars</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a class="theme-btn theme-btn3" routerLink="/about" routerLinkActive="active">Read more</a>
                        </div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-about">
                            <i class="icofont icofont-ui-settings"></i>
                            <h4>Offers Lower Car Prices</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a class="theme-btn theme-btn3" href="#">Read more</a>
                        </div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-about">
                            <i class="icofont icofont-chart-histogram"></i>
                            <h4>Multipoint safety checks</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a class="theme-btn theme-btn3" href="#">Read more</a>
                        </div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="single-about">
                            <i class="icofont icofont-car-alt-1"></i>
                            <h4>24/7 Customer Online Support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                            <a class="theme-btn theme-btn3" href="#">Read more</a>
                        </div>
					</div>
				</div>
			</div>
		</section><!-- about section end -->

		<section class="feature-area ptb-100">
			<div class="container">
				
                <div class="row">
                    <div class="col-lg-12">
						<div class="sec-title mb-50">
							<h2>Featured <span>Vehicles</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-12 text-center">
						<ul class="nav nav-tabs">
							<li><a class="active show" data-target="#menu4" data-toggle="tab" href="#">New Cars</a></li>
							<li><a data-toggle="tab" data-target="#menu5" href="#menu5">Used Cars</a></li>
						</ul>
					</div>
				</div>
				<div class="tab-content">
					<div id="menu4" class="tab-pane fade active show">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature1.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature2.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature3.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature4.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature5.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature6.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id="menu5" class="tab-pane fade">
						<div class="row">
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature2.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature4.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-6">
								<div class="single-feature">
									<div class="feature-image">
									   <img src="assets/img/feature/feature6.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-headphone-alt-1"></i></a>
												   <a href="#"><i class="icofont icofont-link"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="feature-middle">
									   <a href="#"><i class="icofont icofont-headphone-alt-1"></i>30,000</a>
									   <a href="#"><i class="icofont icofont-glue-oil"></i>20kmpl</a>
									   <a href="#"><i class="icofont icofont-company"></i>Automatic</a>
									   <a href="#"><i class="icofont icofont-paper-plane"></i>Model: 2018</a>
									   <a href="#"><i class="icofont icofont-energy-water"></i>27hp</a>
									   <a href="#"><i class="icofont icofont-cur-dollar"></i>27.368</a>
									</div>
									<div class="feature-bottom">
										<h4>Chevrolet T430 Hatchback</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 mt-30 text-center">
						<a href="#" class="theme-btn theme-btn4">Read More</a>
					</div>
				</div>
			</div>
		</section><!-- feature section end -->



		<!-- funfact section start -->
		<section class="funfact-area2 pt-70 pb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>VEHICLES STOCK</h4>
							<h1><i class="icofont icofont-car"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>DEALERS SERVED</h4>
							<h1><i class="icofont icofont-ui-calendar"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>HAPPY CUSTOMERS</h4>
							<h1><i class="icofont icofont-businessman"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
						<div class="funfact-box">
							<h4>AWARDS</h4>
							<h1><i class="icofont icofont-trophy"></i> <span class="counter">57845</span></h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- funfact section end -->



		<!-- team section start -->
		<section class="ptb-100">
			<div class="container">
                <div class="row">
                    <div class="col-lg-12">
						<div class="sec-title mb-20">
							<h2>Executive <span>Team</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-3 col-sm-6">
					    <div class="single-team-member">
							<div class="team-member-img">
								<img src="assets/img/team/team1.png" alt="team">
								<div class="team-member-icon">
									<div class="display-table">
										<div class="display-tablecell">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-dribbble"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="team-member-info">
								<a href="#"><h4>JACKSON NASH</h4></a>
								<p>Massagist</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
					    <div class="single-team-member">
							<div class="team-member-img">
								<img src="assets/img/team/team2.png" alt="team">
								<div class="team-member-icon">
									<div class="display-table">
										<div class="display-tablecell">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-dribbble"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="team-member-info">
								<a href="#"><h4>JACKSON NASH</h4></a>
								<p>Massagist</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
					    <div class="single-team-member">
							<div class="team-member-img">
								<img src="assets/img/team/team4.png" alt="team">
								<div class="team-member-icon">
									<div class="display-table">
										<div class="display-tablecell">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-dribbble"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="team-member-info">
								<a href="#"><h4>JACKSON NASH</h4></a>
								<p>Massagist</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6">
					    <div class="single-team-member">
							<div class="team-member-img">
								<img src="assets/img/team/team3.png" alt="team">
								<div class="team-member-icon">
									<div class="display-table">
										<div class="display-tablecell">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-dribbble"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
										</div>
									</div>
								</div>
							</div>
							<div class="team-member-info">
								<a href="#"><h4>Aklima Akter</h4></a>
								<p>Massagist</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- team section end -->



		<!-- testimonial section start -->
		<section class="testimonial-area ptb-100">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title mb-50">
							<h2>What They <span>say About Us</span></h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
					    <div class="testimonial-slider2">
							<div class="single-testimonial-box">
								<img src="assets/img/author/author1.png" alt="author" />
								<h4>Emma Olivia</h4>
								<p>Customar</p>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Nemo enim ipsam voluptatem quia voluptas.</p>
							</div>
							<div class="single-testimonial-box">
								<img src="assets/img/author/author2.png" alt="author" />
								<h4>Aklima Olivia</h4>
								<p>Customar</p>
								<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.Nemo enim ipsam voluptatem quia voluptas.</p>
								
								
								<a class="theme-btn theme-btn1" routerLink="/testimonials" routerLinkActive="active">Read more</a>
							</div>
                        </div>
					</div>
				</div>
				
			</div>
		</section><!-- testimonial section end -->





		<!-- choose section start -->
		<section class="choose-area ptb-100">
			<div class="container">
                <div class="row">
                    <div class="col-lg-12">
						<div class="sec-title mb-20">
							<h2>CARS <span>On SALE</span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
						</div>
                    </div>
                </div>
				<div class="row">
					<div class="col-lg-3">
						
					</div>
					<div class="col-lg-9">
						<div class="row choose-item">
							<div class="col-lg-4 col-sm-6 choose1 choose4">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature4.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose2 choose3">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature5.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose5 choose6">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature6.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose1 choose6">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature3.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose5 choose3">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature2.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-sm-6 choose1 choose2">
								<div class="single-choose">
									<div class="feature-image">
									   <img src="assets/img/feature/feature1.png" alt="feature">
										<div class="feature-overlay">
											<div class="display-table">
												<div class="display-tablecell">
												   <a href="#"><i class="icofont icofont-search-alt-2"></i></a>
												</div>
											</div>
										</div>
									</div>
									<div class="choose-content">
										<h4>Alfa Romeo 5 Series rival<span>From £35,000</span></h4>
										<a href="#"><i class="icofont icofont-clock-time"></i><p>35,700k</p></a>
										<a href="#"><i class="icofont icofont-energy-oil"></i><p>450 hp</p></a>
										<a href="#"><i class="icofont icofont-chart-flow"></i><p>Auto</p></a>
										<a href="#"><i class="icofont icofont-car-alt-1"></i><p>Model : 2018</p></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- choose section end -->

		
		
        <!-- start map area -->
		<div class="map-area">
			<div id="map"></div>
        </div><!-- map section end -->

		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget">
							<a href="index-2.html"><img src="assets/img/footer-logo.png" alt="footer-logo"></a>
							<p>Lorem ipsum dolor sit amet, consctetur adipiscing elit,
								 sed do eiusmod tempor incididunt ut labore et dolore magna as aliqua. 
								Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
							<div class="widget-social-icons">
								<a href="#"><i class="icofont icofont-social-facebook"></i></a>
								<a href="#"><i class="icofont icofont-social-twitter"></i></a>
								<a href="#"><i class="icofont icofont-social-skype"></i></a>
								<a href="#"><i class="icofont icofont-social-pinterest"></i></a>
								<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
							</div>
						</div>
                    </div>
                   
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget-get-in-touch">
							<h4 class="widget-title">Get in Touch  </h4>
							
							<ul>
								<li><i class="icofont icofont-location-pin"></i><p><span>Our Address : </span>Blue Rock Street, CA 945, USA</p></li>
								<li><i class="icofont icofont-phone"></i><p><span>Phone Number : </span>(+880) 567-290-4567</p></li>
								<li><i class="icofont icofont-clock-time"></i><p><span>Opening Hours : </span> Mon- Sat : 06 Am -08 Pm</p></li>
								<li><i class="icofont icofont-envelope"></i><p><span>Email: </span>Support@gmail.com</p></li>
							</ul>
							
						</div>
                    </div>
				</div>
			</div>
			
		</footer>
		<!-- footer section end -->

		<a href="#" class="scrollToTop">
			<i class="icofont icofont-arrow-up"></i>
		</a>
		<!-- jquery main JS -->
		
	</body>

<!-- index-210:28  -->


